$main: #9cb2a5;
$secondary: #8ba4b3;
$text: #000;
$site_bg: #38727f;
$header_link: #008cba;
$clear-white: #fff;
$hover_menu: rgba(255,255,255,.15);
$link_after: rgba(255,255,255,0);
$link_hover_after_bg: #5677fc;
$li_active: rgba(230,230,230,.12);