footer{
    background: rgb(39, 39, 39);
    color: gray;
    height: 100px;
    margin-top: -21px;
    font-size: 20px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}