@import "../scss/color.scss";

div.rightDots{
    position: fixed;
    top: 50%;
    right: 20px;
    margin-top: -55px;
    ul{
        margin: 0;
        padding: 0;
        li{
            display: block;
            width: 25px;
            height: 25px;
            a{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                span{
                    border-radius: 50%;
                    display: block;
                    width: 4px;
                    height: 4px;
                    background: $clear-white;
                    -webkit-transition: all 0.1s ease-in-out;
                    -moz-transition: all 0.1s ease-in-out;
                    -o-transition: all 0.1s ease-in-out;
                    transition: all 0.1s ease-in-out;
                }
            }
            &:hover{
                a{
                    span{
                        width: 10px;
                        height: 10px;
                    }
                }
            }
            a.active{
                border-radius: 50%;
                background: $hover_menu;
                span{
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }
}