section.about{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 140px 217px 140px 187px;
    div.about__description{

        p.description__subtitle{
            font-weight: 900;
            font-size: 24px;
            color: #BDBDBD;
        }
        h3.description__title{
            padding: 0;
            margin: 0;
            margin-top: 40px;
            width: 347px;
            height: 117px;
            font-weight: 900;
            font-size: 48px;
            line-height: 69px;
            color: #333333;
            span.title__name{
                color: #005FA3;
            }
        }
        p.description__text{
            margin-top: 60px;
            width: 445px;
            height: 245px;
            font-weight: 300;
            font-size: 18px;
            line-height: 25px;
            color: #000000;
        }

    }

    div.about__achievements{
        display: flex;
        gap: 30px;
        width: 540px;
        flex-wrap: wrap;
        margin-left: 125px;
        div.achievements__block{
            width: 255px;
            height: 255px;
            background: #EBEBEB;
            box-sizing: border-box;
            padding: 23px;
            h3.block__title{
                padding: 0;
                margin: 0;
                margin-top: 7px;
                margin-left: 17px;
                font-weight: 900;
                font-size: 55px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #000000;
            }
            p.block__description{
                margin-top: 30px;
                margin-left: 17px;
                width: 130px;
                height: 37px;
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;
                color: #000000;
            }
            button.block__button{
                border: none;
                background: transparent;
                box-sizing: border-box;
                width: 173px;
                height: 50px;
                border: 2px solid #005FA3;
                border-radius: 25px;
                background: transparent;
                font-weight: 700;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #005FA3;
                &:hover{
                    cursor: pointer;
                }
                &::before{
                    visibility: visible;
                    content: "Подробнее";
                }
            }
            &:hover{
                background: #005FA3;
                h3.block__title{
                    color: #FFFFFF;
                }
                p.block__description{
                    color: #FFFFFF;
                }
                button.block__button{
                    border: 2px solid #FFFFFF;
                    color: #FFFFFF;
                }
            }

        }

    }

}