footer{
    display: none;
    div.footer__main{
        background: url(./Assets/footerbg.svg);
        color: #fff;
        h3.main__title{

        }
        p.main__text{

        }
        form{
            div.form__phone{

            }
            div.form__message{

            }
            label.form__labelName{
                input.form__name{

                }
            }
            label.form__labelSurname{
                input.form__surname{

                }
            }
            label.form__labelMessage{
                input.form__textMessage{

                }
            }
            button.form__sendBtn{

            }
        }
    }
    div.footer__coppyrights{
        p{

        }
    }
}